{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %}Document{% endblock %}</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-400">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex items-center justify-between">
        <div class="text-white text-xl font-bold">
          <a href="/" class="hover:text-gray-300">Logo</a>
        </div>
        <div class="hidden md:flex space-x-4">
          <a href="/" class="text-white hover:text-gray-300">Home</a>
          <a href="/about" class="text-white hover:text-gray-300">About</a>
          <a href="/chai" class="text-white hover:text-gray-300">Chai</a>
          <a href="/chai/store" class="text-white hover:text-gray-300">Store</a>
          <a href="/contact" class="text-white hover:text-gray-300">Contact</a>
        </div>
        <div class="md:hidden">
          <button id="menu-toggle" class="text-white focus:outline-none">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div id="mobile-menu" class="md:hidden hidden mb-2">
        <a
          href="#"
          class="block text-white hover:bg-gray-700 w-full text-center p-2"
          >Home</a
        >
        <a
          href="#"
          class="block text-white hover:bg-gray-700 w-full text-center p-2"
          >About</a
        >
        <a
          href="#"
          class="block text-white hover:bg-gray-700 w-full text-center p-2"
          >Services</a
        >
        <a
          href="#"
          class="block text-white hover:bg-gray-700 w-full text-center p-2"
          >Contact</a
        >
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          var menu = document.getElementById("mobile-menu");
          menu.classList.toggle("hidden");
        });
    </script>
  </body>
</html>
